*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    background-color:whitesmoke;
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
}

body{
    background-image: url(../imagenes/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 3%;
    margin-right: 3%;
}
.header{
    border: .125rem solid blue;
    height: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.banner{
    min-height: 40%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;  
}
.logo{
    min-width: 80%;
}
.logo img{
    width: 100%;
}
.header .barra{
    min-width: 100%;
    min-height: 20%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    display: flex;
    gap: 2%;
}
.nav{
    position: relative;
    width: 524px;
    height: 50px;
    display: flex;
    flex-basis: 60%;
    align-items: center;
    justify-content: center;
}
.nav a{
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
    text-align: left;
}

.nav span{
    position: absolute;
    top: 0;
    left: 100px;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg,blue,rgb(166, 166, 207));
    border-radius: .5rem;
    transition: .5s;
}
.nav a:nth-child(1):hover~span{
    left: 100px;

}
.nav a:nth-child(2):hover~span{
    left: 195px;
    width: 110px;
}
.nav a:nth-child(3):hover~span{
    left: 310px;
    width: 110px;
}

.nav a:nth-child(4):hover~span{
    left: 410px;
    width: 110px;
}

.nav a:nth-child(5):hover~span{
    left: 515px;
    width: 110px;
}
.barra .buscador{
    background-color: rgba(5, 5, 5, 0.4);
    flex-basis: 40%;
    border-radius: 10px;
}
.buscador p{
    color: white;
    text-align: right;
    font-size: 200%;
}
.nav a:hover{
    color: black;
    font-weight: bold;
}
main{
    border: .125rem solid blue;
    height: 80%;
    display: flex;
    flex-direction: column; 
}

main .parte1, .parte2{
    margin: 1%;
    flex-basis: 48%;
    border: .1875rem solid blue;
    display: flex;
    text-align: justify; 
}
main .parte1 img{
    width: 100%;
}
main .parte1 .item1{
    margin: 1%;
    flex-basis: 20%;
    border: .125rem solid blue;
    text-align: center;
}

main .parte1 .item2{
    margin: 1%;
    flex-basis: 78%;
    border: .125rem solid blue;
    justify-content: center;
}
main .parte2 .item1{
    margin: 1%;
    flex-basis: 78%;
    border: .125rem solid blue;
    justify-content: center;
    align-items: center;
    align-content: center;
}
main .parte2 img{
    width: 100%;
}

main .parte2 .item2{
    margin: 1%;
    flex-basis: 20%;
    border: .125rem solid blue;
    text-align: center;
}
footer{
    background-color: rgba(0, 0, 0, 0.4);
    height: 20%;
    border: .125rem solid blue;
    display: flex;
    justify-content: space-evenly;
    color: beige;
}
footer .item1, .item2, .item3{
    margin: .5%;
    border: .1875rem solid blue;
    flex-basis: 32%;
    align-items: center;
    align-content: center;
}
.item3{
    text-align: center;
}
footer .item3 a{
    margin-left: 5%;
    }

footer .item3 img{
    width: 10%;
}
footer p{
    text-align: center;
}
