*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    background-color:whitesmoke;
    width: 100%;
    height: 100%;
}

body{
    background-image: url(../imagenes/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    background-image: url(../imagenes/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 40vh;
    width: 100%;
    flex-direction: column;
    gap: 50%;
    }
.header .logo{
    width: 30%;
    height: 30%;
}
.header .nav{
    margin: 0 1rem;
    padding: 5px;
    display: flex;
    width: 30%;
    height: 30%;
    gap: 10%;
   
}
.nav .menu{
    display: flex;
    height: 30%;
}
.menu .checkbtn {
    color: white;
    margin-left: 5px;
    margin-right: 10rem;
   float: right;
   font-size: 18px;
}

.menu .lista_nav{
    display: flex;
    list-style-type: none;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.lista_nav a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 500;
    color:  white;
    padding: 0 1rem;
    z-index: 1;
}
.lista_nav span{
    position: absolute;
    left: 0;
    width: 6.25rem;
    height: 1.875rem;
    background: linear-gradient(45deg,blue,#a6a6cf);
    border-radius: .5rem;
    transition: .5s;
}
.lista_nav :nth-child(1):hover ~ span{
    left: 0;
}
.lista_nav :nth-child(2):hover ~span{
    left: 5.9375rem;
}
.lista_nav :nth-child(3):hover ~span{
    left: 14.0625rem;
}
.lista_nav :nth-child(4):hover ~span{
    left: 21.875rem;
}
.lista_nav :nth-child(5):hover ~span{
    left: 30rem;
}

.buscador{
    display: flex;
    width: ;
    height: 1.25rem;
}


/* main{
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
}

main .parte1, .parte2{
    margin: 1%;
    flex-basis: 48%;
    display: flex;
    text-align: justify;
}
main .parte1 img{
    width: 100%;
    border-radius: .5rem;
    box-shadow: 3px 4px 3px 1px;
}
main .parte1 .item1{
    margin: 1%;
    flex-basis: 20%;
    text-align: center;
}

main .parte1 .item2{
    margin: 1%;
    flex-basis: 78%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: .1875rem .25rem .1875rem .125rem;
}
.parte1 .item2 p{
    font-size: 1.125rem;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}
main .parte2 .item1{
    margin: 1%;
    flex-basis: 78%;
    align-items: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: .1875rem .25rem .1875rem .125rem;

}
.parte2 .item1 p{
    font-size: 1.125rem;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}
main .parte2 img{
    width: 100%;
    border-radius: .5rem;
    box-shadow: 3px 4px 3px 1px;
}

main .parte2 .item2{
    margin: 1%;
    flex-basis: 20%;
    text-align: center;
} */
/* .footer{
    background-color: rgba(0, 0, 0, 0.7);
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: beige;
}
.footer .item1, .item2, .item3{
    margin: .5%;
    height: 32%;
    width: 32%;
    align-items: center;
    align-content: center;
}
.item3{
    text-align: center;
}
.footer .item3 a{
    margin-left: 5%;
    }

.footer .item3 img{
    width: 10%;
}
.footer p{
    text-align: center;
}
@media (min-whidth: 450px){
    .footer .item1, .item2, .item3{
        width: 100%;
        height: 100%;
    }
} */