*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
}

body{
    margin-left: 3%;
    margin-right: 3%;
    border: 12px solid blac;
}
header{ 
    background-image: url(../imagenes/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover ;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

header .banner{
    min-width: 100%;
    min-height: 80%;
    display: flex;
}

.banner img{
    width: 100%;
}
.banner .logo{
    flex: 50%;
}   

header .navegacion{
    min-width: 100%;
    min-height: 20%;
    position: absolute;
    top: 80%;
    left: 0%;
    display: flex;
    color: white;
    gap: 2%;
}
.navegacion .caja3{
    min-width: 58%;
    
}

nav{
    position: relative;
    width: 524px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg,  rgb(51, 96, 233), #e4c1c1);
    border-radius: 8px;
    transition: .5s;
}

nav a:nth-child(1):hover~span{
    left: 0;
}

nav a:nth-child(2):hover~span{
    left: 95px;
}

nav a:nth-child(3):hover~span{
    left: 226px;
    width: 130px;
}
nav a:nth-child(4):hover~span{
    left: 380px;
    width: 100px;
}

nav a:nth-child(5):hover~span{
    left: 490px;
    width: 110px;
}

nav a:nth-child(6):hover~span{
    left: 1000px;
    width: 110px;
}

.navegacion .caja4{
min-width: 40%;

}

.logo img{
    width: 100%;
}

main{
    border: .125rem solid rgb(101, 101, 111);
    min-height: 50vh;
}

main .contenedor{
    min-height: 90%;
    border: .125rem solid black;
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.contenedor .contenedor1{
    min-height: 20%;
    margin: 1%;
    border: .125rem solid blue;

}
.contenedor .contenedor2{
    min-height: 78vh;
    margin: 1%;
    border: .125rem solid blue;

}

section{
    border: 30%;
}

footer{
    justify-content: space-evenly;
    border: .125rem solid blue;
    min-height: 15vh;
    display: flex;
}

footer .caja1, .caja2, .caja3{
    margin: 1%;
 flex-basis: 31%;
}
