*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
}

body{
    margin-left: 3%;
    margin-right: 3%;
    border: 12px solid blac;
}
header{
    background-image: url(../imagenes/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover ;
    border: .125rem solid blue;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
}

.banner{
    min-height: 100%;
    display: flex;
}

.banner img{
    width: 100%;
}
.banner .logo{
    flex: 50%;
    min-height: 40%;
}

.banner .navegacion{
    position: absolute;
    bottom: 8%;
    left: 3%;
}

.logo img{
    width: 100%;
}

main{
    border: .125rem solid blue;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
}

section{
    border: 30%;
}

footer{
    border: .125rem solid blue;
    min-height: 15vh;
    display: flex;
    
}

.footer .copyright{
 
}